<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zone.motionless.houseanalyzer.mapper.HousePriceMapper">

	<resultMap id="BaseResultMap" type="zone.motionless.houseanalyzer.model.HousePrice">
		<id column="id" property="id" />
		<result column="loupan_id" property="loupanId" />
		<result column="pre_sale_id" property="preSaleId" />
		<result column="building_number" property="buildingNumber" />
		<result column="unit_number" property="unitNumber" />
		<result column="floor_number" property="floorNumber" />
		<result column="door_number" property="doorNumber" />
		<result column="sale_price" property="salePrice" />
		<result column="deal_price" property="dealPrice" />
		<result column="status" property="status" />
		<result column="created_at" property="createdAt" />
		<result column="updated_at" property="updatedAt" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, loupan_id AS loupanId, pre_sale_id AS preSaleId, building_number AS buildingNumber, unit_number AS unitNumber, floor_number AS floorNumber, door_number AS doorNumber, sale_price AS salePrice, deal_price AS dealPrice, status, created_at AS createdAt, updated_at AS updatedAt
    </sql>
</mapper>
