<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zone.motionless.houseanalyzer.mapper.PreSaleInfoMapper">

	<resultMap id="BaseResultMap" type="zone.motionless.houseanalyzer.model.PreSaleInfo">
		<id column="id" property="id" />
		<result column="loupan_id" property="loupanId" />
		<result column="name" property="name" />
		<result column="licence" property="licence" />
		<result column="house_price_link" property="housePriceLink" />
		<result column="count" property="count" />
		<result column="left_count" property="leftCount" />
		<result column="developer_company" property="developerCompany" />
		<result column="open_date" property="openDate" />
		<result column="type" property="type" />
		<result column="address" property="address" />
		<result column="sale_address" property="saleAddress" />
		<result column="latitude" property="latitude" />
		<result column="longitude" property="longitude" />
		<result column="avg_price" property="avgPrice" />
		<result column="min_price" property="minPrice" />
		<result column="max_price" property="maxPrice" />
		<result column="created_at" property="createdAt" />
		<result column="updated_at" property="updatedAt" />
		<result column="status" property="status" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, loupan_id AS loupanId, name, licence, house_price_link AS housePriceLink, count, left_count AS leftCount, developer_company AS developerCompany, open_date AS openDate, type, address, sale_address AS saleAddress, latitude, longitude, avg_price AS avgPrice, min_price AS minPrice, max_price AS maxPrice, created_at AS createdAt, updated_at AS updatedAt, status
    </sql>
</mapper>
