<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="zone.motionless.houseanalyzer.mapper.extra.CrawConfigExtraMapper">

    <select id="selectOneByDomain" resultType="java.lang.String">
        SELECT cookie
        from crawler_config
        where domain = #{domain}
        limit 1;
    </select>

</mapper>